VITE_API_BASE_URL
VITE_TOSS_CLIENT_KEY

SECRET_KEY=c
CORS_ORIGINS=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=
DB_NAME=

USE_SSH_TUNNEL=False
SSH_HOST=
SSH_PORT=22
SSH_USER=
SSH_KEY_PATH=

REDIS_HOST=localhost
REDIS_PORT=6379

TOSS_SECRET_KEY=
ADMIN_PIN=
NTS_API_KEY=

SENDER_EMAIL=
APP_PASSWORD=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
AWS_S3_BUCKET_NAME=s

PLUGIN_META_KEY=
PLUGIN_SOURCE_REPO=
PLUGIN_BUNDLE_DIR=
PLUGIN_BUNDLE_ZIP_PATH=
PLUGIN_INSTALLER_EXE_PATH=
